{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KAIST Buy & Sell</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/kbs.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kbs-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">KAIST Buy & Sell</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="kbs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Notification</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            {% block sidebar %}
            <div class="col-md-3">

                <div class="login">

                {% if user.is_authenticated %}


                    <p class="message">Hello, {{ user }}!</p>
                    <p class="info">
                        [#]리뷰 / [#.#]점
                    </p>
                    <p class="button"><button type="button" class="btn btn-default btn-block" id="btn_myinfo">My Info</button></p>
                    <p class="button"><button type="button" class="btn btn-default btn-block" id="btn_logout">Logout</button></p>

                {% else %}

                    <p class="message">Please login!</p>
                    <form action="#" method="POST" name="login_form">
                        {% csrf_token %}
                        <p class="idpw">
                            <input type="text" class="form-control" id="txt_username" required="">
                        </p>
                        <p class="idpw">
                            <input type="password" class="form-control" id="txt_password" required="">
                        </p>
                        <p class="button">
                            <button type="button" class="btn btn-default btn-block" id="btn_login">Login</button>
                            <button type="button" class="btn btn-default btn-block" id="btn_to_register">Register</button>
                        </p>
                    </form>

                {% endif %}

                </div>

                <div class="list-group">
                    <a href="/write" class="list-group-item">BUY</a>
                    <a href="/write" class="list-group-item">SELL</a>
                    <a href="#" class="list-group-item">SHARE</a>
                </div>
            </div>
            {% endblock %}

            <div class="col-md-9">

                <div class="row">

                {% block content %}

                {% endblock %}

                </div>
            </div>


        </div>
    </div>
    <!-- /.container -->


    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Team Bazaar 2014, All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
