{% extends "base.html" %}

{% block content %}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">[Price]</h4>
            <h4><a href="#">[Item Name]</a>
            </h4>
            <p>[Item Description]</p>
        </div>
        <div class="ratings">
            <p class="pull-right">[# / #.#]</p>
            <p>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">30,000원</h4>
            <h4><a href="#">AAAAAAAAAA</a>
            </h4>
            <p>이설명은글자수를테스트하기위해작성되는설명입니다그래서공백도없고줄바꿈도없이기록됩니다보기엔거북하지만이해해주세요</p>
        </div>
        <div class="ratings">
            <p class="pull-right">15리뷰 / 5.0점</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">30,000원</h4>
            <h4><a href="#">AAAAAAAAAA</a>
            </h4>
            <p>이설명은글자수를테스트하기위해작성되는설명입니다그래서공백도없고줄바꿈도없이기록됩니다보기엔거북하지만이해해주세요</p>
        </div>
        <div class="ratings">
            <p class="pull-right">2리뷰 / 3.0점</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">30,000원</h4>
            <h4><a href="#">AAAAAAAAAA</a>
            </h4>
            <p>이설명은글자수를테스트하기위해작성되는설명입니다그래서공백도없고줄바꿈도없이기록됩니다보기엔거북하지만이해해주세요</p>
        </div>
        <div class="ratings">
            <p class="pull-right">5리뷰 / 2.0점</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">30,000원</h4>
            <h4><a href="#">AAAAAAAAAA</a>
            </h4>
            <p>이설명은글자수를테스트하기위해작성되는설명입니다그래서공백도없고줄바꿈도없이기록됩니다보기엔거북하지만이해해주세요</p>
        </div>
        <div class="ratings">
            <p class="pull-right">1리뷰 / 1.0점</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}