{% extends "base.html" %}

<!-- Remove sidebar -->
{% block sidebar %}
{% endblock %}

{% block content %}

    <!-- Reference: http://bootsnipp.com/snippets/featured/simple-registration-form -->
    <form action="#" method="POST" name="register_form">
        <fieldset>
            <div id="legend">
                <legend class="">Welcome!</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                    <input type="text" name="username" id="txt_username" placeholder="" class="input-xlarge" required="">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" name="email" id="txt_email" placeholder="" class="input-xlarge" required="">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="txt_password" placeholder="" class="input-xlarge" required="">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Password Confirm</label>
                <div class="controls">
                    <input type="password" name="password_confirm" id="txt_password_confirm" placeholder="" class="input-xlarge" required="">
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" id="btn_register">Register</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}